aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
attrs==26.1.0
audioop-lts==0.2.2
blinker==1.9.0
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.3
cryptography @ file:///home/builder/.termux-build/python-cryptography/src
discord.py==2.7.1
Flask==3.1.3
frozenlist==1.8.0
google-ai-generativelanguage==0.6.15
google-api-core==2.30.3
google-api-python-client==2.195.0
google-auth==2.50.0
google-auth-httplib2==0.3.1
googleapis-common-protos==1.74.0
grpcio @ file:///home/builder/.termux-build/python-grpcio/src
grpcio-status==1.71.2
httplib2==0.31.2
idna==3.13
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
multidict==6.7.1
propcache==0.4.1
proto-plus==1.27.2
protobuf==5.29.6
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==1.10.26
pyparsing==3.3.2
python-dotenv==1.2.2
requests==2.33.1
SRTrain==2.6.7
tqdm==4.67.3
typing_extensions==4.15.0
uritemplate==4.2.0
urllib3==2.6.3
Werkzeug==3.1.8
yarl==1.23.0
