aiohappyeyeballs
aiohttp
aiosignal
attrs
audioop-lts; python_version >= "3.13"
blinker
certifi
cffi
charset-normalizer
click
cryptography
discord.py
Flask
frozenlist
numpy
pandas
PyYAML
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
grpcio
grpcio-status
httplib2
idna
itsdangerous
Jinja2
MarkupSafe
multidict
propcache
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
pydantic
pyparsing
python-dotenv
requests
SRTrain
korail2
tqdm
typing_extensions
uritemplate
urllib3
Werkzeug
yarl
